@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.bck_img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
  z-index: -1;
}

.snowmount {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 40vh;
  max-height: 500px;
  object-fit: cover;
}

.yetii {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yeti {
  position: absolute;
  width: 30vw;
  max-width: 450px;
  height: auto;
  max-height: 450px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yeti_pixel {
  position: absolute;
  width: 15vw;
  max-width: 150px;
  height: auto;
  top: 5%;
  left: 8%;
  transform: translateX(-50%);
}

.cosoon {
  position: absolute;
  width: 60vw;
  max-width: 1000px;
  height: auto;
  max-height: 600px;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
}

.social-link {
  color: green;
  font-size: 2rem;
  text-decoration: none;
}

.contact, .text {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.contact {
  bottom: 5vh;
}

.text {
  bottom: 2vh;
}

/* @media screen and (max-width: 1024px) {
  .snowmount {
    height: 35vh;
    max-height: 450px;
  }
  .yeti {
    width: 40vw;
    max-width: 350px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .yeti_pixel {
    position: absolute;
    width: 12vw;
    max-width: 140px;
    top: 40px;
    left: 10px;
  
  }
  .cosoon {
    position:absolute;
    width: 50vw;
    max-width: 640px;
    bottom: 30vh;
    left: 50%;
    transform: translateX(-50%);
   

    }
     .text{
      position:absolute;
      bottom:0px;
  }
} */

@media screen and (max-width: 800px) {
  .snowmount {
    height: 30vh;
  }
  .yeti {
    width: 45vw;
    max-width: 200px;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .yeti_pixel {
    width: 15vw;
    max-width: 100px;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
  .cosoon {
    width: 60vw;
    max-width: 350px;
    bottom: 12vh;
    left: 50%;
    transform: translateX(-50%);
  }
   .text {
    position: static;
    margin-top: 10px;
    font-size: 0.9rem;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .snowmount {
    height: 25vh;
  }
  .yeti {
    width: 60vw;
    max-width: 150px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .yeti_pixel {
    width: 25vw;
    max-width: 80px;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }
  .cosoon {
    width: 70vw;
    max-width: 280px;
    bottom: 8vh;
    left: 50%;
    transform: translateX(-50%);
  }
  .text {
    position: absolute;
    font-size: 0.8rem;
    left: 110px;
    
  }
}
